.pic img{
    display: inline;
    height: 50%;
    width: 50%;
    margin: 20px;
}

.pic{
    display: flex;
}

.details{
    margin: auto;
}

.details h1{
    margin-top: 20px;
}

.details input{
    margin-top: 20px;
    background-color: rgb(172, 107, 221);
    padding: 20px;
    cursor: pointer;
    font-family: cursive;
    border: none;
    box-shadow: 7px 7px orchid;
}

.details input:hover{
    background-color: rgb(205, 163, 240);
    margin-top: 26px;
    margin-left: 6px;
    transition: 600ms;
    box-shadow: 0px 0px orchid;
    border-radius: 10px;
}